<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Thai</key>
	<array>
		<array>
			<integer>657</integer>
		</array>
		<array>
			<integer>881</integer>
		</array>
		<array>
			<integer>504</integer>
		</array>
		<array>
			<integer>252</integer>
		</array>
		<array>
			<integer>261</integer>
		</array>
		<array>
			<integer>694</integer>
		</array>
		<array>
			<integer>664</integer>
		</array>
		<array>
			<integer>1366</integer>
		</array>
		<array>
			<integer>385</integer>
		</array>
		<array>
			<integer>330</integer>
		</array>
		<array>
			<integer>475</integer>
		</array>
		<array>
			<integer>566</integer>
		</array>
		<array>
			<integer>759</integer>
		</array>
		<array>
			<integer>865</integer>
		</array>
		<array>
			<integer>957</integer>
		</array>
		<array>
			<integer>727</integer>
		</array>
		<array>
			<integer>612</integer>
		</array>
		<array>
			<integer>803</integer>
		</array>
		<array>
			<integer>1803</integer>
		</array>
		<array>
			<integer>599</integer>
		</array>
		<array>
			<integer>274</integer>
		</array>
		<array>
			<integer>401</integer>
		</array>
		<array>
			<integer>283</integer>
		</array>
		<array>
			<integer>231</integer>
		</array>
		<array>
			<integer>444</integer>
		</array>
		<array>
			<integer>474</integer>
		</array>
		<array>
			<integer>2549</integer>
		</array>
		<array>
			<integer>1269</integer>
		</array>
		<array>
			<integer>987</integer>
		</array>
		<array>
			<integer>821</integer>
		</array>
		<array>
			<integer>741</integer>
		</array>
		<array>
			<integer>412</integer>
		</array>
		<array>
			<integer>180</integer>
			<integer>28</integer>
			<integer>36</integer>
		</array>
		<array>
			<integer>987</integer>
		</array>
		<array>
			<integer>1118</integer>
		</array>
		<array>
			<integer>515</integer>
			<integer>152</integer>
		</array>
		<array>
			<integer>1897</integer>
		</array>
		<array>
			<integer>1581</integer>
		</array>
		<array>
			<integer>1454</integer>
		</array>
		<array>
			<integer>1767</integer>
		</array>
		<array>
			<integer>2268</integer>
		</array>
		<array>
			<integer>730</integer>
		</array>
		<array>
			<integer>876</integer>
		</array>
		<array>
			<integer>1911</integer>
			<integer>963</integer>
			<integer>220</integer>
			<integer>149</integer>
		</array>
		<array>
			<integer>520</integer>
			<integer>1172</integer>
			<integer>1488</integer>
		</array>
	</array>
	<key>Pali</key>
	<array>
		<array>
			<integer>659</integer>
		</array>
		<array>
			<integer>881</integer>
		</array>
		<array>
			<integer>504</integer>
		</array>
		<array>
			<integer>252</integer>
		</array>
		<array>
			<integer>261</integer>
		</array>
		<array>
			<integer>694</integer>
		</array>
		<array>
			<integer>664</integer>
		</array>
		<array>
			<integer>1366</integer>
		</array>
		<array>
			<integer>385</integer>
		</array>
		<array>
			<integer>330</integer>
		</array>
		<array>
			<integer>475</integer>
		</array>
		<array>
			<integer>566</integer>
		</array>
		<array>
			<integer>759</integer>
		</array>
		<array>
			<integer>865</integer>
		</array>
		<array>
			<integer>957</integer>
		</array>
		<array>
			<integer>727</integer>
		</array>
		<array>
			<integer>611</integer>
		</array>
		<array>
			<integer>803</integer>
		</array>
		<array>
			<integer>1803</integer>
		</array>
		<array>
			<integer>599</integer>
		</array>
		<array>
			<integer>274</integer>
		</array>
		<array>
			<integer>401</integer>
		</array>
		<array>
			<integer>283</integer>
		</array>
		<array>
			<integer>231</integer>
		</array>
		<array>
			<integer>444</integer>
		</array>
		<array>
			<integer>474</integer>
		</array>
		<array>
			<integer>2549</integer>
		</array>
		<array>
			<integer>1269</integer>
		</array>
		<array>
			<integer>987</integer>
		</array>
		<array>
			<integer>821</integer>
		</array>
		<array>
			<integer>741</integer>
		</array>
		<array>
			<integer>412</integer>
		</array>
		<array>
			<integer>180</integer>
			<integer>28</integer>
			<integer>36</integer>
		</array>
		<array>
			<integer>987</integer>
		</array>
		<array>
			<integer>1118</integer>
		</array>
		<array>
			<integer>515</integer>
			<integer>152</integer>
		</array>
		<array>
			<integer>1897</integer>
		</array>
		<array>
			<integer>1581</integer>
		</array>
		<array>
			<integer>1454</integer>
		</array>
		<array>
			<integer>1767</integer>
		</array>
		<array>
			<integer>2268</integer>
		</array>
		<array>
			<integer>730</integer>
		</array>
		<array>
			<integer>876</integer>
		</array>
		<array>
			<integer>1911</integer>
			<integer>963</integer>
			<integer>220</integer>
			<integer>149</integer>
		</array>
		<array>
			<integer>520</integer>
			<integer>1172</integer>
			<integer>1488</integer>
		</array>
	</array>
</dict>
</plist>
