<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Names</key>
	<array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๑</string>
			<string>มหาวิภังค์ ภาค ๑</string>
		</array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๒</string>
			<string>มหาวิภังค์ ภาค ๒</string>
		</array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๓</string>
			<string>ภิกขุนีวิภังค์</string>
		</array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๔</string>
			<string>มหาวรรค ภาค ๑</string>
		</array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๕</string>
			<string>มหาวรรค ภาค ๒</string>
		</array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๖</string>
			<string>จุลวรรค ภาค ๑</string>
		</array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๗</string>
			<string>จุลวรรค ภาค ๒</string>
		</array>
		<array>
			<string>พระวินัยปิฎก เล่มที่ ๘</string>
			<string>ปริวาร</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑</string>
			<string>ทีฆนิกาย สีลขันธวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๒</string>
			<string>ทีฆนิกาย มหาวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๓</string>
			<string>ทีฆนิกาย ปาฏิกวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๔</string>
			<string>มัชฌิมนิกาย มูลปัณณาสก์</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๕</string>
			<string>มัชฌิมนิกาย มัชฌิมปัณณาสก์</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๖</string>
			<string>มัชฌิมนิกาย อุปริปัณณาสก์</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๗</string>
			<string>สังยุตตนิกาย สคาถวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๘</string>
			<string>สังยุตตนิกาย นิทานวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๙</string>
			<string>สังยุตตนิกาย ขันธวารวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๐</string>
			<string>สังยุตตนิกาย สฬายตนวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๑</string>
			<string>สังยุตตนิกาย มหาวารวรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๒</string>
			<string>อังคุตตรนิกาย เอก-ทุก-ติกนิบาต</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๓</string>
			<string>อังคุตตรนิกาย จตุกกนิบาต</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๔</string>
			<string>อังคุตตรนิกาย ปัญจก-ฉักกนิบาต</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๕</string>
			<string>อังคุตตรนิกาย สัตตก-อัฏฐก-นวกนิบาต</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๖</string>
			<string>อังคุตตรนิกาย ทสก-เอกาทสกนิบาต</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๗</string>
			<string>ขุททกนิกาย ขุททกปาฐ-ธรรมบท-อุทาน-อิติวุตตกะ-สุตตนิบาต</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๘</string>
			<string>ขุททกนิกาย วิมาน-เปตวัตถุ เถร-เถรีคาถา</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๑๙</string>
			<string>ขุททกนิกาย ชาดก ภาค ๑</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๒๐</string>
			<string>ขุททกนิกาย ชาดก ภาค ๒</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๒๑</string>
			<string>ขุททกนิกาย มหานิทเทส</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๒๒</string>
			<string>ขุททกนิกาย จูฬนิทเทส</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๒๓</string>
			<string>ขุททกนิกาย ปฏิสัมภิทามรรค</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๒๔</string>
			<string>ขุททกนิกาย อปทาน ภาค ๑</string>
		</array>
		<array>
			<string>พระสุตตันตปิฎก เล่มที่ ๒๕</string>
			<string>ขุททกนิกาย อปทาน ภาค ๒ พุทธวังสะ-จริยาปิฎก</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๑</string>
			<string>ธรรมสังคณีปกรณ์</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๒</string>
			<string>วิภังคปกรณ์</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๓</string>
			<string>ธาตุกถา-ปุคคลบัญญัติปกรณ์</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๔</string>
			<string>กถาวัตถุปกรณ์</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๕</string>
			<string>ยมกปกรณ์ ภาค ๑</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๖</string>
			<string>ยมกปกรณ์ ภาค ๒</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๗</string>
			<string>มหาปัฏฐานปกรณ์ ภาค ๑</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๘</string>
			<string>มหาปัฏฐานปกรณ์ ภาค ๒</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๙</string>
			<string>มหาปัฏฐานปกรณ์ ภาค ๓</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๑๐</string>
			<string>ปัฏฐานปกรณ์ ภาค ๔</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๑๑</string>
			<string>ปัฏฐานปกรณ์ ภาค ๕</string>
		</array>
		<array>
			<string>พระอภิธรรมปิฎก เล่มที่ ๑๒</string>
			<string>ปัฏฐานปกรณ์ ภาค ๖</string>
		</array>
	</array>
</dict>
</plist>
