<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pali</key>
	<array>
		<integer>444</integer>
		<integer>571</integer>
		<integer>267</integer>
		<integer>361</integer>
		<integer>356</integer>
		<integer>374</integer>
		<integer>423</integer>
		<integer>553</integer>
		<integer>312</integer>
		<integer>391</integer>
		<integer>343</integer>
		<integer>609</integer>
		<integer>689</integer>
		<integer>547</integer>
		<integer>353</integer>
		<integer>332</integer>
		<integer>340</integer>
		<integer>489</integer>
		<integer>589</integer>
		<integer>385</integer>
		<integer>346</integer>
		<integer>503</integer>
		<integer>487</integer>
		<integer>393</integer>
		<integer>558</integer>
		<integer>507</integer>
		<integer>571</integer>
		<integer>453</integer>
		<integer>630</integer>
		<integer>429</integer>
		<integer>642</integer>
		<integer>574</integer>
		<integer>598</integer>
		<integer>381</integer>
		<integer>588</integer>
		<integer>236</integer>
		<integer>661</integer>
		<integer>753</integer>
		<integer>556</integer>
		<integer>577</integer>
		<integer>647</integer>
		<integer>428</integer>
		<integer>531</integer>
		<integer>600</integer>
		<integer>538</integer>
	</array>
	<key>Thai</key>
	<array>
		<integer>754</integer>
		<integer>717</integer>
		<integer>328</integer>
		<integer>304</integer>
		<integer>278</integer>
		<integer>328</integer>
		<integer>279</integer>
		<integer>517</integer>
		<integer>383</integer>
		<integer>261</integer>
		<integer>288</integer>
		<integer>430</integer>
		<integer>518</integer>
		<integer>413</integer>
		<integer>289</integer>
		<integer>288</integer>
		<integer>310</integer>
		<integer>402</integer>
		<integer>469</integer>
		<integer>290</integer>
		<integer>240</integer>
		<integer>407</integer>
		<integer>379</integer>
		<integer>333</integer>
		<integer>418</integer>
		<integer>447</integer>
		<integer>462</integer>
		<integer>318</integer>
		<integer>494</integer>
		<integer>331</integer>
		<integer>364</integer>
		<integer>428</integer>
		<integer>408</integer>
		<integer>339</integer>
		<integer>532</integer>
		<integer>188</integer>
		<integer>842</integer>
		<integer>731</integer>
		<integer>525</integer>
		<integer>818</integer>
		<integer>674</integer>
		<integer>466</integer>
		<integer>574</integer>
		<integer>659</integer>
		<integer>474</integer>
	</array>
</dict>
</plist>
